* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 2rem auto;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0 5px 10px black;
    background-color: rgba(81, 176, 205, 0.485);
}

form *{
    margin: 30px;
    padding: 30px;
    font-size: 2rem;
}

table{
    border: 1px solid black;
    border-radius: 15px;
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

table *{
    text-align: center;
    border: 1px solid black;
    font-size: 2.5rem;
    padding: 2rem;
}

